
/*
 * Plugin: Full Calendar
 * ---------------------
 */
.fc-button {
    background: #f4f4f4;
    background-image: none;
    color: #444;
    border-color: #ddd;
    border-bottom-color: #ddd;
}
.fc-button:hover,
.fc-button:active,
.fc-button.hover {
    background-color: #e9e9e9;
}
.fc-header-title h2 {
    font-size: 15px;
    line-height: 1.6em;
    color: #666;
    margin-left: 10px;
}
.fc-header-right {
    padding-right: 10px;
}
.fc-header-left {
    padding-left: 10px;
}
.fc-widget-header {
    background: #fafafa;
}
.fc-grid {
    width: 100%;
    border: 0;
}
.fc-widget-header:first-of-type,
.fc-widget-content:first-of-type {
    border-left: 0;
    border-right: 0;
}
.fc-widget-header:last-of-type,
.fc-widget-content:last-of-type {
    border-right: 0;
}
.fc-toolbar {
    padding: 10px;
    margin: 0;
}
.fc-day-number {
    font-size: 20px;
    font-weight: 300;
    padding-right: 10px;
}
.fc-color-picker {
    list-style: none;
    margin: 0;
    padding: 0;
}
.fc-color-picker > li {
    float: left;
    font-size: 30px;
    margin-right: 5px;
    line-height: 30px;
}
.fc-color-picker > li .fa {
    -webkit-transition: -webkit-transform linear 0.3s;
    -moz-transition: -moz-transform linear 0.3s;
    -o-transition: -o-transform linear 0.3s;
    transition: transform linear 0.3s;
}
.fc-color-picker > li .fa:hover {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}
#add-new-event {
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}
.external-event {
    padding: 5px 10px;
    font-weight: bold;
    margin-bottom: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor: move;
}
.external-event:hover {
    box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.2);
}
/*
 * Plugin: Select2
 * ---------------
 */
.select2-container--default.select2-container--focus,
.select2-selection.select2-container--focus,
.select2-container--default:focus,
.select2-selection:focus,
.select2-container--default:active,
.select2-selection:active {
    outline: none;
}
.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 34px;
}
.select2-container--default.select2-container--open {
    border-color: #3c8dbc;
}
.select2-dropdown {
    border: 1px solid #d2d6de;
    border-radius: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #3c8dbc;
    color: white;
}
.select2-results__option {
    padding: 6px 12px;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: -4px;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 6px;
    padding-left: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 28px;
    right: 3px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 0;
}
.select2-dropdown .select2-search__field,
.select2-search--inline .select2-search__field {
    border: 1px solid #d2d6de;
}
.select2-dropdown .select2-search__field:focus,
.select2-search--inline .select2-search__field:focus {
    outline: none;
    border: 1px solid #3c8dbc;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd;
}
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[aria-selected=true]:hover {
    color: #444;
}
.select2-container--default .select2-selection--multiple {
    border: 1px solid #d2d6de;
    border-radius: 0;
}
.select2-container--default .select2-selection--multiple:focus {
    border-color: #3c8dbc;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #d2d6de;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 1px 10px;
    color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 5px;
    color: rgba(255, 255, 255, 0.7);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #fff;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px;
}